@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
    visibility: hidden; /* Initially hidden */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
    visibility: visible; /* Visible at the end */
  }
}

.visible-element {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 2s ease 2s forwards; /* Apply the fadeIn animation */
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.page-content {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 2s infinite;
  
}

